body {
    background: #292929;
}

div.form_container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 200px auto;
    background-color: #494949;
    border: 2px solid #000000;
    border-radius: 10px;
}
div.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
div.logo {
    position:absolute;
}
div.greet {
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: space-around;
}
div.input {
    margin-top: 70px;
    text-align: center;
}
div.inp_txt {
    width: 188px;
    height: 20px;
    text-align: left;
    
}
.logo p {
    margin-top: -25px;
    color:azure;
    font-size:xx-large;
    font-weight:bold;
    color: #00FF38;
    font-style: italic;
    text-shadow: 0px 2px 1px #000000,
    2px 0px 1px #000000,
    -2px 0px 1px #000000,
    0px -2px 1px #000000;
}
.greet_container p {
    color:azure;
    font-size:xx-large;
    font-weight:bold;
    color: #00FF38;
    font-style: italic;
    text-shadow: 0px 2px 1px #000000,
    2px 0px 1px #000000,
    -2px 0px 1px #000000,
    0px -2px 1px #000000;
}
.inp_txt p {
    color: #00FF38;
    padding-left: 25px;
}
.select{
    color: #00FF38;
    font-weight:bold;
}
.inp_send {
    position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px 0px 0px;
}
.redirect {
    display: flex;
    width: 100px;
    height: 35px;
    background: #494949;
    color: azure;
    font: bolder 15pt Cambria;
    align-items: center;
    justify-content:space-around;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000000;

}
a.redirect {
    text-decoration: none;
}
.error {
    width: 250px;
    margin-top: 10px;
    text-align: center;
    border: 3px solid crimson;
    border-radius: 4px;
    background: rgba(220, 20, 60, 0.1);
}
.error p {
    color: white;
    margin: 5px;
}
input[type="password"], [type="text"] {
    width: 200px;
    height: 30px;
    position:relative;
    border: 2px solid #000000;
    border-radius: 5px;
    background: #C7C7C7;
    outline: none;
}
input[type="submit"] {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #00c225;
    color: whitesmoke;
    font: bolder 15pt Cambria;
}
input[type="password"]:hover {
    border: 2px solid #00c225;
}
input[type="text"]:hover {
    border: 2px solid #00c225;
}
input[type="submit"]:hover {
    background: #1de540;
    cursor: pointer;
}

input[type="password"]:focus {
    border: 2px solid #00c225;
}
input[type="text"]:focus {
    border: 2px solid #00c225;
}
input[type="submit"]:focus {
    background: #1de540;
    cursor: default;
}
.redirect:hover {
    background: #606060;
}
.redirect:focus {
    background: #606060;
    cursor: default;
}


