<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="parent">
        <div class="greet_container">
            <div class="greet">
                <p>HELLO, {{user}}</p>
                <a href="logout" class="redirect">
                    <div class="redirect">SIGN OUT</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>>