<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="parent">
    <div class="form_container">
        <div>
            Sign in
        </div>
        <form method = "POST" action="">
            <div class="input">
                <div class="inp_txt">
                    <p>Username</p>
                </div>
                <input type="text" size="30" maxlength="25" name="login" required>
                <div class="inp_txt">
                    <p>Password</p>
                </div>
                <input type="password" size="30" maxlength="25" name="password" required>
                <div class="inp_send">
                    <input type="submit" value="Sign In" >
                </div>
                <div class="inp_send">
                    <input type="submit" value="Sign Up" >
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>