<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="parent">
    <div class="form_container">
        <div class="logo">
            <p>Sign up to MyApp</p>
        </div>
        <form method = "POST" action="">
            <div class="input">
                <div class="inp_txt">
                    <p>Email</p>
                </div>
                <input type="text" size="30" maxlength="25" name="login" required>
                <div class="inp_txt">
                    <p>Password</p>
                </div>
                <input type="password" size="30" maxlength="25" name="password" required>
                <div class="inp_txt">
                    <p>Repeat your password</p>
                </div>
                <input type="password" size="30" maxlength="25" name="rep_password" required>
            </div>
            <div class="inp_send">
                <div class="inp_act">
                    <input type="submit" value="Sign up" >
                </div>
                <p class="select">or</p>
                    <a href="login" class="redirect">
                    <div class="redirect">Sign In</div>
                    </a>
            </div>
        </form>
        {{#if error}}
            <div class="error">
                <p>{{msg}}</p>
            </div>
        {{/if}}
        {{#if userExist}}
            <div class="error">
                <p>{{msg}}</p>
            </div>
        {{/if}}
        {{#if unMatch}}
            <div class="error">
                <p>{{msg}}</p>
            </div>
        {{/if}}
    </div>
</div>
</body>
</html>